*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, p {
    font-family: 'karma', serif;
    margin-bottom: 15px;
}

h1 {
    font-size: 32px;
	font-weight: bold;	
}

h2 {
	font-size: 22px;
	font-weight: bold;	
}

h3 {
	font-size: 12px;
	font-weight: bold;	
}

h4 {
	font-size: 5px;
	font-weight: bold;	
}

p {
    font-family: 'karma', serif;
	margin-bottom: 10px;
}

/*============menu-nav==============*/

header{
	padding: 0px 10px;
	background-color: #000000;
	display: flex;
	justify-content: space-between;
}

#cont_menus{
	display: flex;
	flex-direction: column;
	width: 80%;
}
#reseaux-sociaux{
	display: flex;
	justify-content: flex-end;
	margin: 5px 0px;
}
.reseaux {
-webkit-filter: opacity(35%);
}
#reseaux-sociaux a:hover img{
	filter: none;
}
#reseaux-sociaux a{
	padding: 0px 5px;}
#menu-nav{
	display: flex;
	justify-content: space-between;
}
#menu-nav a{
	opacity: 0.5;
	color: #FDEDD8;
	height: 30px;
}

/*Corps*/
.corps {
    margin: 15px 0px 15px 0px;
    padding: 15px 15px 15px 15px;
}

#founder {
    height: 600px;
    width: 600px;
}

#bandeau {
    height: 30px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    margin-bottom: 50px;
}

.gauche, .droite h2 {
    text-align: center;
    margin-bottom: 20px
}

.droite {
    text-align: justify;
    margin-top: 15px;
}

.gauche, .droite {
    display: inline-block;
    width: 49%;
    vertical-align: text-top;
}

/*Footer*/
footer{
  padding: 15px;
  background: #000000;
  color: #FDDCB0;
}
footer .title{
	font-weight: bold;
	color: #FDEDD8;
	opacity: 0.5;
}
footer .content-1{
	display: flex;
	justify-content: space-between;
	border-bottom: none;
}
footer .menu{
	border-right: none;
	padding: 0px 10px 10px 0px;
}
footer a{
	  color: #FDDCB0;
}
footer .contact{
	border-right: none;
	padding: 0px 10px 10px 0px;
}
footer .info{
  padding: 0px 10px 10px 0px;
}
