/*Corps*/
.corps {
    margin: 15px 0px 15px 0px;
    padding: 15px 15px 15px 15px;
}

.haut h1 {
    text-align: center;
    color: white;
    background: black;
    padding: 10px 0px;
    width: 50%;
    font-size: 24px; 
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

#founder {
    margin-top: 15px;
    height: 600px;
    width: 600px;
}

.bandeau {
    height: 30px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gauche, .droite h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.droite {
    text-align: justify;
    margin-top: 35px;
}

.gauche, .droite {
    display: inline-block;
    width: 49%;
    vertical-align: text-top;
}

@media screen and (max-width: 768px){
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .haut h1 {
        width: 100%;
    }
    
    #founder {
        height: 300px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    .gauche, .droite {
        display: inline;
    }
    
    h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: bold;
    }
    
    .bandeau {
        height: 30px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
}