section {
    font-family: 'karma', serif;
    color: #010A0F;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #010A0F; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #010A0F;
    border: none;
    color: #FDEDD8;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius:6px;
}


input[type=submit]:hover {
    background-color: #06283B;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}