section {
    font-family: 'karma', serif;
    color: #010A0F;
    padding: 0px 200px 0px 200px;
    background-color: #FDEDD8;
}

h1 {
    text-align: center;
    color: #06283B;
    margin-bottom: 25px;
    margin-top: 15px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #010A0F; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #010A0F;
    border: none;
    color: #FDEDD8;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius:6px;
}


input[type=submit]:hover {
    background-color: #06283B;
}

.container {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
}

@media screen and (max-width: 768px){
    section {
        padding: 0px 50px 0px 50px;
    }
}