/*Footer*/
footer{
  padding: 15px;
  background: black;
  color: #FDDCB0;
}
footer .title{
  font-family: karma;
	font-weight: bold;
	color: #FDEDD8;
	opacity: 0.5;
}
.info p{
	padding: 5px;
  line-height: 15px;

}
footer .content-1{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
footer .menu_footer{
	border-right: 1px solid #06283B;
	width: 20%;
}
footer #link{
	  color: #FDDCB0;
}
footer  #link:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;

}
footer .contact{
	border-right: 1px solid #06283B;
	 width: 35%;
}
footer .info{
	width: 40%;
}
footer .list {
	padding: 10px 0px 0px 10px;
  line-height: 20px;
	}
footer.adresse{
		border-top: 1px solid #06283B;
		padding-left: 10px;
    padding-top: 8px;
	}
footer .phone,.e-mail{
	display: flex;
  justify-content: space-between;
  align-items: center;
  width: 44%;
  align-self:center;
}
footer .phone{
	padding-bottom: 10px;
  padding-top: 10px;
}
footer .adresse {
  border-top: 1px solid #06283B;
  padding-top: 10px;
}
footer p{margin-bottom: 0px}
@media screen and (max-width: 768px){
footer .contact {width: 32%;}
footer .menu_footer{width: 25%;}
footer .phone, .e-mail{width: 75%;}
footer .info p{
    display: block;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px)
{
  footer .phone, .e-mail {
    width: 70%;
  }
    footer .info p{
      font-size: 15px;
      line-height: 16px;
    }
}
