/*============Slider==============*/
.theme-mi-slider .nivoSlider{
	position:relative;
}
.theme-mi-slider .nivoSlider a {
	border:0;
	display:block;
}
/* Nivo Pagination =========================*/

.nivo-controlNav{
	display: flex;
	justify-content: center;
}

.theme-mi-slider .nivo-control{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FDDCB0;
	margin: 3px;
	text-indent: -9999px
}

.theme-mi-slider .nivo-control:hover{
	background: #FDDCB0;
}

.theme-mi-slider .active{
	background: #06283B;
}

/* Nivo direction ============*/
.nivo-directionNav a{
	display: block;
	width: 30px;
	height: 30px;
}
.nivo-directionNav .nivo-prevNav{
	background-image: url(../img/prev.png);
	background-size: cover;
	text-indent: -9999px;
	left: 6px;
}
.nivo-directionNav .nivo-nextNav{
	background-image: url(../img/next.png);
	background-size: cover;
	text-indent: -9999px;
	right: 6px;
}
/*Nivo Caption*/

.nivo-html-caption{
	position: absolute;
}
/*Contennu slider*/
.nivo-caption h1{
	font-weight: bold;
	font-size: 25px;
  line-height: 40px;
}
.nivo-caption p{
	font-size: 18px;
}
#slider img{
	max-height: 580px;
}
.buttons{
	display: flex;
	justify-content: space-around;
  padding: 40px 300px 0px 300px;
}
.b_acheter,.b_collection {
    background-color: #010A0F;
    border: none;
		color: #FDEDD8;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
		border-radius:6px;
}
.b_acheter:hover{
	background-color: #06283B;
	color: #FDEDD8;
}
.b_collection:hover{
	background-color: #06283B;
	color: #FDEDD8;
}
/*Images-text*/
#pres_produits h1{
	font-weight: bold;
	color: #06283B;
	line-height: 36px;
}
.cont_prods p{
	text-align: justify;
	line-height: 18px;
	padding-left: 10px;
}
#pres_produits{
	padding: 0px 200px;
	background: #FDEDD8;
}
.cont_prods{
	background: white;
}
#part1,#part2,#part3,#part4{
	display: flex;
	justify-content: space-between;
}
.cont-1,.cont-2,.cont-3,.cont-4{
  align-self: center;
	padding: 30px;
	width: 50%;
}
@media screen and (min-width: 768px) and (max-width: 960px)
{
	.buttons{
	  padding: 10px 70px;
	}
	#pres_produits {
    padding: 0px 50px;
	}
	.cont_prods img{
		width: 40%;
		height: 35%;
	}
	.cont_prods p {
    line-height: 15px;
    font-size: 15px;
	}
}
