/*Corps*/
.corps {
    margin: 15px 0px 15px 0px;
    padding: 15px 15px 15px 15px;
}

.intro {
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 80px 10px 80px;
}

.intro .title {
    height: 30px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gauche, .droite {
    display: inline-block;
    width: 49.8%;
    margin-top: 50px;
    margin-bottom: 25px;
    vertical-align: top;
}

.kl, .kl2 {
    height: 65px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vm, .vm2 {
    height: 65px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.kl2, .vm2 {
    height: 400px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

.gauche p {
    margin: 20px 80px 20px 80px;
    text-align: center;
}

.droite p {
    margin: 20px 80px 46px 80px;
    text-align: center;
}

.utiles .info{
    height: 30px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.utiles h2 {
    margin: 15px 15px 15px 15%;
    padding: 0px 10px 10px 10px;
    color: #06283B;
}

.utiles p {
    text-align: justify;
    margin: 0px 10% 0px 19%;
    padding: 0px 10px 10px 10px;
    margin-bottom: 30px;
}